:root {
  font-family: 'Lafat', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

body {
  max-width: 100vw;
  height: auto;
  overflow-x: hidden;
  margin: 0;
  place-items: center;
}

@font-face {
  font-family: 'Lafat';  
  src: local("Lafat-Regular"),
    url("./assets/Lafat-Regular.ttf") format("truetype");
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.sticky {
  background-color: red;
}

/* PORTFOLIO ANIMATION*/

.columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.column {
	display: flex;
	flex-direction: column;
  align-items: center;
}

/* Shift entire column up, but not so much that it goes out of view */
.column-reverse {
	transform: translateY(calc(-100% + 100vh));
}

/* As we're about to shift content out of .columns, we need it to hide its overflow */
.columns {
	overflow-y: hidden;
}

/* Flip item order in reversed columns */
.column-reverse {
	flex-direction: column-reverse;
}

/* Set up Animation */
@keyframes adjust-position {
	/* Start position: shift entire column up, but not so that it goes out of view */
	from {
		transform: translateY(calc(-100% + 100vh));
	}

	/* End position: shift entire column down, but not so that it goes out of view */
	to {
		transform: translateY(calc(100% - 100vh));
	}
}

/* Hook our animation with the timeline to our columns */
.column-reverse {
	animation: adjust-position linear forwards;
	animation-timeline: scroll(root block);
}

.column > img {
  width: 80%;
  margin-top: 1rem;
  border-radius: 5px;
    @media (min-width: 768px){
      margin-top: 3rem;
      border-radius: 50px;
  }
}